TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

CAMERA_RTSP_URL=

WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8080
WEBHOOK_PATH=/telegram

LOG_LEVEL=INFO
COOLDOWN_SECONDS=60
SHOW_WINDOW=true
WINDOW_NAME=YOLO Seguridad

RECORD_DURATION_SECONDS=30
RECORD_FPS=15
RESIZE_WIDTH=640
RESIZE_HEIGHT=360

YOLO_CONF=0.4
YOLO_DEVICE=0
YOLO_IMGSZ=640
YOLO_CLASSES=0,15,16,24
